.name {
    background: linear-gradient(275deg, rgba(255, 0, 0, 0.80) 25.06%, rgba(180, 90, 171, 0.80) 33.92%, rgba(0, 213, 167, 0.80) 39.78%, rgba(6, 116, 183, 0.80) 47.4%);
    background-clip: text;
    color: transparent;
}

.gradient {
    background: linear-gradient(273deg, rgba(255, 0, 0, 0.80) 30.33%, rgba(180, 90, 171, 0.80) 41.77%, rgba(0, 213, 167, 0.80) 49.34%, rgba(6, 116, 183, 0.80) 59.18%);
    background-clip: text;
    color: transparent;
}

.agile,
.balence {
    background: linear-gradient(276deg, rgba(255, 0, 0, 0.80) 32.42%, rgba(180, 90, 171, 0.80) 42.68%, rgba(0, 213, 167, 0.80) 49.47%, rgba(6, 116, 183, 0.80) 58.29%);
    background-clip: text;
    color: transparent;
}

* {
    font-family: 'Satoshi', sans-serif;
}

.background {
    background: rgba(255, 255, 255, 0.10);
}

.left_section {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #250707;
}

.right_section {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #091E1C;
}

.challenges {
    background: linear-gradient(90deg, #FF6C4A 10%, #FDB914 70%, #FFA1D8 20%);
    background-clip: text;
    color: transparent;
}

.solutions {
    background: linear-gradient(90deg, #F0D 10%, #F5CF78 70%, #34A943 20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.case_study h1 {
    font-size: 16px;

}

.case_study p {
    font-size: 12px;

}

.actanos {
    background: var(--Gradient-text, linear-gradient(273deg, rgba(255, 0, 0, 0.80) 31.09%, rgba(180, 90, 171, 0.80) 54.73%, rgba(0, 213, 167, 0.80) 70.39%, rgba(6, 116, 183, 0.80) 90.73%));
    background-clip: text;
    color: transparent;
}

.gradient_border {
    padding: 24px;
    background-color: black;
}

@media screen and (min-width:1500px){
    .gradient_border {
        padding: 22px;
        background-color: black;
    }
}

.third_section {
    background-color: gray;
}


.svg_image{
    background:  lightgray -25.519px -24.677px / 186.243% 186.243% no-repeat;
}

.left_section_pa{
    border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: #071B25;
}

/* 3xl:text-3xl 4xl:text-6xl
3xl:text-3xl 4xl:text-6xl
3xl:text-3xl 4xl:text-6xl
 */